* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font: "SF Display", Helvetica, Arial, sans-serif;
}

@media only screen and (min-width:300px) and (max-width: 650px) {


  .header-container{
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
  }
  .header-container .navbar-list{
    display: none;
  }
  .container .navbar-content{
    display: none;
  }

  .parents {
    display: none;
  }
  .content {
    color: #ffffff;
  }
 .uk-container .content h3 {
    
    font-size: 18px;
    line-height: 2.3rem;
    font-weight: 300;
    letter-spacing: 0.02rem;
    text-transform: uppercase;
    
  }
  
  section {
    width: 90%;
    margin: auto;
  }
  .section-title {
 
    height: 85px;
  }
  .section-icon{
    display: none;
  }

 

  .category p {
   font-size: 10px;
  }
  .book1{
    width: 100%;
  }
  .book{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: auto;
  }

.content1, .content2{
   display: flex;
   padding: 22px 33px;
   width: 80%;
}
  .category h4{
    font-size: 10px;
  }
}
@media only screen and (min-width:650px) and (max-width: 1250px) {
  .header-container {
    height: 85px;
    width: 90%;
    margin: auto;
   
  }
  

}

@media only screen and (min-width:1250px){
   .book1{
     width: 85%;
     margin: auto;
   }

}




header {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 1.1) 20%,
      rgba(0, 0, 0, 0.6) 50%
    ),
    url("https://unread.today/files/dca82359-3f6e-4c03-99ef-ef493c68a7aa/21262f087bd7bd6ea50ecbdc77b2de09.jpg")
      no-repeat center center/cover;
}

.header-container {
  height: 85px;
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-container a {
 
  font-size: 25px;
  color: #ffffff;
}
.container {
  display: flex;
  justify-content: space-between;

}
.header-img {
  display: flex;
  justify-content: center;
  align-items: center;

}
.header-img span {
  color: #ffffff;
  font-size: 24px;
  margin: 0 20px;
}
.header-img img {
  height: 18px;
  color: black;
}
.header-input {
  display: flex;
  border: none;
}

.fa-magnifying-glass {
  color: #fff;
  opacity: 0.5;
}

.header-input input {
  color: #fff;
  margin-left: 12px;
  background-color: transparent;
  border: none;
  filter: brightness(1.1);
}

.navbar-list {
  display: flex;
  justify-content: end;
  color: #ffffff;
  list-style: none;
  width: 170px;
  opacity: 0.3;
}
.navbar-list li {
  padding: 7px;
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.navbar-content h5 span {
  display: inline-block;
  opacity: 0.5;
}
.navbar-content span {
  padding-right: 7px;
}

.navbar-content p {
  padding: 12px 10px 12px 15px;
  text-align: center;
  width: 143px;
  margin-left: 15px;
  font-size: 0.8rem;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  filter: brightness(300%);
}

.navbar-content p span {
  margin-left: 6px;
  font-size: 6px;
  color: #0078f6;
  animation: animate 3.5s linear infinite;
}
.fa-facebook:hover {
  color: rgb(0, 102, 255);
}
.fa-instagram:hover {
  color: rgba(255, 1, 5);
}
.fa-twitter:hover {
  color: rgb(0, 102, 255);
}
.fa-linkedin-in:hover {
  color: rgb(0, 102, 255);
}
.parents {

  overflow: hidden;
  background-size: cover;
  border-radius: 18px;

}
.uk-container .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s;
}
.uk-container:hover .img {
  transform: scale(1.1);
}
.uk-container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;

  padding-top: 40px;
}
.content {
  display: flex;
  flex-direction: column;

  gap: 25px;
  color: #ffffff;
  padding: 45px 0px 0px 61px;
}

.content p {
 
  height: 39px;
  color: #0078f6;
  animation: animate 3.5s linear infinite;
  font-size: 1.44rem;
  line-height: 2.4rem;
}

@keyframes animate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.content h3 {
  height: 215px;
  font-size: 23px;
  line-height: 3.3rem;
  font-weight: 400;
  letter-spacing: 0.02rem;
  text-transform: uppercase;
  
}
.content h3 span {
  height: 43px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}
.author {
 
  display: flex;
  align-items: center;
  height: 36px;
}
.author img {
  border-radius: 50%;
  height: 36px;
  width: 36px;
}
.parents1 {
  border: 1px solid #888;
  padding: 5px 5px 1px 5px;
  border-radius: 50px;
}
.parents1:hover {
  border: 1px solid white;
}
.author5 {
  margin-left: 10px;
}
.author5 h5 {
  opacity: 0.5;
}
.author5 h6 {
  letter-spacing: 0.05rem;
  font-size: 15px;
  line-height: 1.1rem;
  font-weight: 400;
}
.author5 h6 i {
  font-size: 6.6px;
}









.section1 {
  display: flex;
  height: 300px;
  justify-content: center;
  
}
section {
  top: 65%;
  width: 60%;
  margin: auto;
  position: absolute;
  overflow: hidden;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  width: 1186px;
  margin: auto;
}

.section-title p {
  font-size: 1.62rem;
  font-weight: 700;
  line-height: 2.4rem;
  color: #fff;
}

.section-icon {
  color: black;
  padding: 5px 15px 5px 15px;
  border-radius: 40px;
  filter: brightness(0.8);
  font-size: 20px;
  text-decoration: none;
  background-color: #e8e5e5;
}
.section-icon a i {
  color: #fff;
}
.editors-slider {
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: black;
  /* width: 100%; */
  overflow-x: scroll;
}
.zoom img {
  height: 352px;
  width: 258px;
  object-fit: cover;
  border-radius: 15px;
}
.ico {
  display: flex;
  color: #fff;
  gap: 30px;
}

.zoom {
  position: relative;
  transition: all 0.5s;
}
.zoom:hover {
  transform: scale(1.1);
}

.inside {
  color: #fff;
  position: absolute;
  top: 69%;
}

.inside1 {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  gap: 5px;
  height: 100%;
  width: 100%;
}
.inside p {
  font-weight: 400;
}
.inside button {
  font-size: 10px;
  width: 130px;
  padding: 5px;
  border-radius: 50px;
  background-color: #0078f6;
  border: none;
  color: #fff;
}
.book1{
  width: 100vw;

}

.book {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 44px;
}
.content1 {
   border-radius: 0 27px 27px 27px; 
  padding: 22px 33px;

  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0px 0px 50px 4px rgba(209, 209, 209, 0.3);  
  margin-top: 1.3em;
  padding: 2.8em 6.5em 2em 5.1em;
  transition: all 1s ease-in-out;
  transition-duration: 0.5s;
}
.content2 {
  border-radius: 27px 0 27px 27px;
  padding: 22px 33px;
  display: flex;

  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0px 0px 50px 4px rgba(209, 209, 209, 0.3);  
  margin-top: 1.3em;
  padding: 2.8em 6.5em 2em 5.1em;
  transition: all 1s ease-in-out;
  transition-duration: 0.5s;

}
.content1:hover,
.content2:hover {
  box-shadow: 0px 0px 50px 4px rgba(209, 209, 209, 0.349);
}
.item {
  max-width: 739px;
  transition: all 0.2s;
}

.book .item1 {
  max-width: 739px;
  display: flex;
  flex-direction: column;
  align-self:flex-end ;
  transition: all 0.5s;
}
.item1 .author1 {
  display: flex;
  flex-direction: row-reverse;

}

.item:hover,
.item1:hover {
  background: transparent;
  transform: translateY(-10px);
}
.cover img {
  width: 135px;
  height: 135px;
  border-radius: 50%;
}
.author1 {
  display: flex;
  align-items: center;
  gap: 5px;
 width: 50%;
}
.author1 img {
  border-radius: 50%;
  height: 36px;
  width: 36px;
}
.parents2 {
  border: 1px solid #fff;
  padding: 5px 5px 1px 5px;
  border-radius: 50px;
}
.author2 {
  display: flex;
  flex-direction: column;
  
  /* background-color: red; */
}
.author1 .author2 h4 {
  color: black;
}
.author2 h6 {
  opacity: 0.5;
  letter-spacing: 0.05rem; 
  font-size: 15px;
  line-height: 0.9rem;
  font-weight: 400;
}
  .author2 h6 i {
    font-size: 6.6px;
    margin-bottom: 0px;
  
     /* background-color: red  */
  } 

.weeks {
  display: flex;
  align-items: start;
  justify-content: center;
  width: 72%;
  background-color: #fff;
  gap: 15px;
}
.weeks i {
  padding-top: 5px;
  font-size: 10px;
  color: #0078f6;
}
.weeks h4 {
  /* width: 400px; */
  height: 77px;
}
.category p {
  color: #0078f6;
}






















footer{
  width: 100vw;
  
}


.footer-top {
  width: 50%;
  margin: 90px auto;
}
.items{
  text-align: end;
}
.footer-navbar {
  display: flex;
  justify-content:space-between;
  border-bottom: 1px solid rgba(24, 23, 23, 0.3);
}
.footer-navbar a{
  color: #000;
  opacity: 0.7;
  width: 20%;
  padding: 13px;
}
.footer-navbar a:hover{
  border-bottom: 2px solid blue;
}
.lasts {
  text-decoration: none;
}
.lasts:hover {
  border-bottom: 2px solid black;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 300px 100px 250px;
  margin-top: 50px;
  padding: 10px;
  gap: 20px;
}
.grid-container1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 200px 150px;
  margin-top: 50px;
  padding: 10px;
  gap: 20px;
}
.grid-container1 > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.item30 {
  grid-column: 1/3;
  grid-row: 1/3;
}
.grid-item {
  position: relative;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 18px;
  border: none;
  transition: all 0.1s ease-in;
}
.grid-item:hover {
  transform: translateY(-5px);
  box-shadow: 15px 10px 50px 15px rgba(62, 62, 62, 0.3);
}
.grid-container > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.item10 {
  grid-column: 1/3;
  grid-row: 1/3;
} 
 .item20 {
  grid-row: 2 span;
}
.pad {
  margin-top: 60px;
}

.blur {
  padding: 15px 23px 30px 23px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 12px 12px;
  height: 92px;
  width: 100%;
  bottom: 0;
  color: #ffffff;
  position: absolute;
  backdrop-filter: blur(4px);
}

.blur p {
  padding-right: 20px;
  opacity: 0.6;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.03rem;
}
.blur h4 {
  font-weight: 700;
  font-size: 16.2px;
  height: 42px;
  overflow: hidden;
}

.title {
  position: absolute;
  border-radius: 7px;
  padding: 4px 11px;
  background-color:rgba(0, 0, 0, 0.2);

  right: 17px;
  bottom: 77px;
  z-index: 99;
  color: #fff;
  font-weight: 500;
  font-size: 1.26rem;
}


.footer-down1 {
  background-color: black;
}
.footer-down2 {
  z-index: 1;

  height: 5.2rem;
  position: relative;
  background-color: #fff;
  border-radius: 0 0 3.6rem 3.6rem;
}
.footer-down {
  background-color: red;
  width: 100%;
  height: 750px;
  padding-top: 75px;
  background-color: black;
}
.uk-grid-large {
  display: flex;

  gap: 50px;
}
.uk-width {
  width: 50%;
  margin: auto;
  height: 545px;
}
.uk-width-last {
  width: 650px;
}
.uk-width-small {
  width: 466px;
  height: 403px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000;
}
.uk-width-small a img {
  height: 18px;
}
.contact-btn1,
.contact-btn2 {
  width: 416.4;
  height: 96.5;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.contact-btn1:hover,
.contact-btn2:hover {
  transform: translateX(9px);
}
.btn-black i:hover {
}
.btn-black .icon-i:hover {
  background-color: #0078f6;
}
.btn-black {
  text-decoration: none;
  width: 323px;
  height: 90px;
  color: #fff;
  font-weight: 500;
  font-size: 1.44rem;
  display: flex;
  justify-content: space-between;
  /* max-width: calc(100% - 108px); */
  padding: 25px 29px 27px 30px;
  border-radius: 18px;
  overflow: hidden;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(https://unread.today/img/btn-black.png);
}
.btn-black .icon-i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* background-color: #0078f6; */
}
.btn-black .icon-i i {
  height: 36px;
  width: 36px;
  /* margin-top: 10px;   */
  /* border: 1px solid rgba(0, 0, 0, 0); */
  background-color: black;
  border-radius: 50%;
  padding-top: 10px;
  text-align: center;
  font-size: 16px;
  color: #fff;
}

.title1 p {
  font-size: 12.6px;
  opacity: 0.3;
  color: #fff;
  margin-bottom: 5px;
  letter-spacing: 0.03px;
  font-weight: 400;
}
.title1 h6 {
  font-size: 14.6px;
}

.app-link {
  width: 416px;
  height: 65px;
}

.app-link a {
  margin-right: 12px;
}

.app-link a img {
  width: 144px;
  height: 45px;
}
.main-nav {
  width: 600;
  height: 21.5px;
  margin-bottom: 2.6rem;
}
.main-nav .transition {
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  color: #fff;
}
.pre-dot::before {
  content: "•";
  margin-left: 8px;
  margin-right: 10px;
  font-size: 1.2rem;
  
}
.main-nav a:hover{
  color: #bcb7b7;
}

.copyright {
  line-height: 1.3rem;
  font-size: 0.8rem;
  max-width: 500px;
  color: #fff;
  height: 28px;
  opacity: 0.5;
  margin: 15px 0;
}
.category-nav {
  display: flex;
  margin-top: 46px;

}
.category-nav1 a,
.category-nav2 a,
.category-nav2 p {
  text-decoration: none;
  color: #878787;
  transition: all 0.2s ease-in-out;
  font-size: 0.8rem;
  line-height: 1rem;
  letter-spacing: 0.03rem;
}
.category-nav1 a:hover,
.category-nav2 a:hover {
  transform: translateX(5px);
  color: #fff;
}
.category-nav2 p {
  color: #fff;
  opacity: 0.5;
}
.category-nav1 {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-s; */
  gap: 10px;
  width: 208px;
  height: 264px;
  /* background-color: #0078f6; */
}

.category-nav1 h5,
.category-nav2 h5 {
  color: #0078f6;
  font-size: 1.44rem;
  line-height: 2.4rem;
}

.category-nav2 {
  width: 208px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  gap: 14px;
  /* background-color: #0078f6; */
}

.category-nav2 .gray {
  color: #fff;
}

.social-link {
  width: 1151px;
  margin: 70px auto 10px auto;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-link a {
  color: #fff;
  opacity: 0.3;
}
.social-link a i {
  font-size: 36px;
}

.social-link a .fa-youtube:hover {
  color: red;
}

.social-link a .fa-cloud:hover {
  color: red;
}


  

