* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #1c1c1c;
  font: normal 10px / 20px "SF Display", Helvetica, Arial, sans-serif;
  background-color: #fafafa;
  letter-spacing: 0.015rem;
}
header {
  /* background-color: antiquewhite;s */
}
.header-container {
  width: 1525px;
  margin: auto;
  padding: 24px 0 19px 0;
}

.header-container a {
  font-size: 25px;
  color: #a6a6a6;
}
