* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 90vh;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.9) 40%,
      rgba(0, 0, 0, 0.6) 50%
    ),
    url(https://unread.today/files/ed579b98-8b6a-46a5-a2db-38fafd069ab2/530e016dcc4b4b2281684521a7a623b4.jpg)
      no-repeat center center/cover;
}
@media only screen and (min-width: 1024px) {
  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1525px;
    height: 85px;
    margin: auto;
    padding: 15px 0;
  }
}
.header-container a {
  font-size: 25px;
  color: #ffffff;
  flex: 1;
}
.container {
  display: flex;
  justify-content: space-between;
  flex: 4;
}
.header-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 312px;
  height: 41px;
}
.header-img span {
  color: #ffffff;
  font-size: 24px;

  margin: 0 20px;
}
.header-img img {
  height: 18px;
  color: black;
}
.header-input {
  display: flex;
  width: 120px;
  border: none;
}
.fa-magnifying-glass {
  opacity: 0.5;
}
.header-input input {
  color: whitesmoke;
  margin-left: 12px;
  background-color: transparent;
  border: none;
}

.navbar-list {
  display: flex;
  justify-content: end;
  color: #ffffff;
  list-style: none;
  flex: 1;
  opacity: 0.4;
}
.navbar-list li {
  padding: 10px;
}

.navbar-content {
  display: flex;
  align-items: center;
  color: #ffffff;
}

.navbar-content h5 span {
  display: inline-block;
  opacity: 0.5;
}
.navbar-content span {
  padding-right: 7px;
}

.navbar-content p {
  padding: 10px 20px;
  margin-left: 15px;
  font-size: 0.9rem;
  color: black;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
}

.fa-facebook:hover {
  color: rgb(0, 102, 255);
}
.fa-instagram:hover {
  color: rgba(255, 1, 5);
}
.fa-twitter:hover {
  color: rgb(0, 102, 255);
}
.fa-linkedin-in:hover {
  color: rgb(0, 102, 255);
}

.uk-container img {
  height: 446px;
  width: 446px;
  border-radius: 18px;
}
.uk-container {
  max-width: 1220px;
  margin: auto;
  display: flex;
}
.content {
  width: 670px;
}

.content p {
  color: #0078f6;
  animation: animate 3.5s linear infinite;
}

@keyframes animate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
